<!doctype html>
<html lang="pt-BR">
<head><meta charset="utf-8"><title>Cadastro</title></head>
<body>
  <div class="container">
    <h1>Cadastro</h1>
    <form method="POST">
      <label>Usuário<br><input name="user_id" required></label><br><br>
      <label>Senha<br><input name="password" type="password" required></label><br><br>
      <label>Confirmar senha<br><input name="password2" type="password" required></label><br><br>
      <button type="submit">Cadastrar</button>
    </form>
    <p><a href="{{ url_for('index') }}">Início</a></p>
  </div>
</body>
</html>
